@font-face {
    font-family: "roboto_regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "roboto_bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "roboto_black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

.errores{
    color: red;
    font-size: 13px;
    line-height: 1 !important;
    font-family: "roboto_regular";
}

.textoBasico {
    font-family: "roboto_regular";
    font-size: 13px !important;
}

.textoTitulo {
    font-family: "roboto_black";
    font-size: 16px;
}

.textoSubTitulo {
    font-family: "roboto_bold";
    font-size: 14px;
}

.header {
    background-color: #7392B7;
    color: white;
    align-items: center;
}

.body {
    background-color: #B3C5D7;
}

.card{
    background-color: #F2F4F3 !important;
}

